.crab {
  animation: fuwafuwa 1s ease-in-out infinite alternate, moveRight 10s linear infinite;
  transition: 0.5s ease-in-out;
  width: 100px;
  position: absolute;
  top: 50vh;
  left: 0vw;
}

.dolphin {
  animation: kurukuru 3s ease-out infinite forwards;
  width: 150px;
  position: absolute;
  top: 20vh;
  left: 10vw;
  opacity: 1;
}

@keyframes fuwafuwa {
  0% {
    transform: translate(0, 0) rotate(-10deg);
  }
  50% {
    transform: translate(0, -7px) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(10deg);
  }
}

@keyframes moveRight {
  0% {
    left: -25vw;
  }
  100% {
    left: 100vw;
  }
}

@keyframes kurukuru {
  0% {
    transform: rotateY(0) translateY(40px);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: rotateY(360deg) translate(0, 0);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: rotate(0) translateY(40px);
    opacity: 0;
  }
}
