* {
    box-sizing: border-box;
}

.beach {
    position: relative;
}

.beach img{
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 844px;
}
/*dirtybeach*/
.beach0 {
    opacity: 0.5; /* 透明度を少し下げることで下の画像が見える */
}
/*cleanbeach1*/
.beach1 {
    opacity: 0.5;
}
/*cleanbeach2*/
.beach2 {
    opacity: 0.5;
}
.gabage {
    width: 10%;
    opacity: 1.0;
    position: absolute;
}

.wood {
    width: 30%;
    opacity: 1.0;
    position: absolute;
}

.InsectNet{
    z-index: 1;
}

.tools {
    position: fixed;
    top: 10px;
    left: 315px;
    z-index: 10;
}

.tools0 {
    width: 80px; 
    height: 80px; 
    cursor: pointer;
    transition: border 0.2s ease;
    background-color:rgb(255, 255, 255);
}

.insectNet-active {
    border: 3px solid rgb(0, 0, 0);
}

.audio {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}