* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("assets/dirtybeach.PNG"), url("assets/cleanbeach1.PNG");
    background-position: center center;
    background-size: cover;
}

.beach {
    position: relative;
    margin: 0px;
}

.beach img{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*dirtybeach*/
.beach0 {
    opacity: 1; /* 透明度を少し下げることで下の画像が見える */
}
/*cleanbeach1*/
.beach1 {
    opacity: 0;
}
/*cleanbeach2*/
.beach2 {
    opacity: 0;
}
.gabage {
    width: 30px;
    opacity: 1.0;
    position: absolute;
}

.wood {
    width: 90px;
    opacity: 1.0;
    position: absolute;
}

.InsectNet{
    z-index: 1;
}

.tools {
    position: fixed;
    top: 10px;
    left: 315px;
    z-index: 10;
}

.tools0 {
    width: 80px; 
    height: 80px; 
    cursor: pointer;
    transition: border 0.2s ease;
    background-color:rgb(255, 255, 255);
}

.insectNet-active {
    border: 3px solid rgb(0, 0, 0);
}

.audio {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}